{% extends "layout.html" %}

{% block title %}
Stock Selector
{% endblock %}

{% block main %}
<div class="section">
        <thead>

        </thead>
        <tbody>
                <h2>Available Ranges</h2>
                <li><a class="nav-item dropdown" href="lounge.html">Lounge Furniture</a></li>
                <li><a class="nav-item dropdown" href="bedroom.html">Bedroom Collection</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="nav-item dropdown" href="#">New Items to Order in</a></li>
        </tbody>
    </div>
</form>


{% endblock %}